$myFont: Helvetica, sans-serif;
$myPrimaryColor: #5ece7b;
$myFontPrimaryColor: #00aeef;
$myDarkColor: #1d1f22;
$myOverlayColor: rgba(57, 55, 72, 0.22);
$transition: all ease 0.45s;
$boxshadow: 0px 4px 35px 0px #a8acb030;
// $myWidth: 680px;
